<h2>Productos</h2>
<section class="grid-container" id="products-container"></section>
<section class="pagination">
    <button id="prev-page-button">Prev</button>
    <span id="page-number"></span>
    <button id="next-page-button">Next</button>
</section>